In [2]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

df=pd.read_csv("data.txt")

df_label=df.copy()

le=LabelEncoder()
df_label["Age_encoded"] = le.fit_transform(df_label["Age"])
df_label["Salary_encoded"] = le.fit_transform(df_label["Salary"])

print('\n Label Encoded data')

print(df_label[["Name","Age","Salary","Age_encoded","Salary_encoded"]])

 Label Encoded data
              Name  Age  Salary  Age_encoded  Salary_encoded
0      Yash Mishra   24   45000            1               6
1       Neha Gupta   27   40000            4               1
2     Rohit Sharma   30   50000            7              11
3      Anita Singh   26   42000            3               3
4     Rajesh Kumar   29   47000            6               8
5      Simran Kaur   25   43000            2               4
6     Deepak Joshi   28   41000            5               2
7       Alok Verma   31   46000            8               7
8        Sonia Roy   23   39000            0               0
9     Vikram Singh   27   44000            4               5
10     Meera Patel   26   40000            3               1
11    Amit Chauhan   29   48000            6               9
12    Radha Sharma   28   43000            5               4
13      Sachin Rao   30   47000            7               8
14     Pooja Desai   24   39000            1               0
15     Nitin Gupta   27   45000            4               6
16    Anjali Singh   25   42000            2               3
17     Rahul Mehta   29   46000            6               7
18    Kavita Joshi   26   40000            3               1
19     Sunil Kumar   28   47000            5               8
20      Neha Singh   27   43000            4               4
21     Ajay Sharma   30   49000            7              10
22     Divya Patel   24   39000            1               0
23     Rajiv Verma   29   48000            6               9
24       Swati Roy   26   42000            3               3
25    Manish Singh   28   46000            5               7
26  Priyanka Joshi   25   41000            2               2
27    Sameer Kumar   30   47000            7               8
28     Alka Sharma   27   43000            4               4
29    Rakesh Gupta   29   45000            6               6
30     Sonal Patel   24   39000            1               0
31     Vivek Mehta   28   48000            5               9
32     Nisha Singh   26   42000            3               3
33       Arjun Rao   27   46000            4               7
34     Priya Desai   25   40000            2               1
35    Sunita Joshi   29   47000            6               8
36     Ankit Kumar   28   43000            5               4
37    Shweta Gupta   30   49000            7              10
38     Deepa Singh   24   39000            1               0
39     Rahul Patel   27   46000            4               7
40    Kiran Sharma   29   42000            6               3
41      Sanjay Rao   26   45000            3               6
42     Megha Joshi   28   40000            5               1
43    Vikash Kumar   27   47000            4               8
44  Nivedita Singh   30   43000            7               4
45    Rajesh Patel   25   46000            2               7
46   Pallavi Gupta   24   39000            1               0
47    Ashok Sharma   29   48000            6               9
48       Anita Rao   26   42000            3               3
49    Deepak Mehta   28   45000            5               6